*, *::after,  *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Share Tech Mono', monospace;
    background-color: #00d9ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23fc05eb' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%238f05a1' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23de03d2' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%237a1193' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23cf06c6' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23780d9c' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23c60cc0' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%235b0585' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c136bf' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%235d1591' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23b52db5' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%233a0772' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.tetrisGame{
    display: grid;
    color: white;~
    display: flex;
    justify-content: center;
}

h1{
    color: white;
    text-align: center;
    font-size: 70px;
}

.header{
    height: 50px;
}

.playarea{
    padding-top: 50px
}

.gridbox{
    height: 25px;
    width: 25px;
    border: solid 1px white;
    opacity: 50%;
}

#grid{
    border: solid white 2px;
    display: grid;
    grid-template-columns: 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px;
    grid-template-rows:
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px 
                        25px;
}


/* Next pieces */
.piece{
    padding-top: 100px;
    padding-left: 80px;
}

.nextPiece{
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 25px 25px 25px;
    grid-template-rows: 25px 25px 25px 25px 25px 25px 25px;
}

.nextPieceBorder{
    border: solid white 2px;
}

.hold{
    padding-top: 100px;
    padding-right: 80px;
}

/* Held pieces */
.heldPiece{
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 25px 25px 25px;
    grid-template-rows: 25px 25px 25px 25px 25px 25px 25px;
}

.heldPieceBorder{
    border: solid white 2px;
}

.header3{
    border-top: white 3px solid;
}

.HPB{
    height: 25px;
    width: 25px;
    /* border:solid white 1px */
}